command: bash -c $* -- eval /usr/libexec/frr/frrinit.sh start && tail -n+1 -F /var/log/frr/frr.log
config_files:
  - source: "/var/lib/kolla/config_files/src/etc/frr/*"
    dest: /etc/frr/
    merge: true
    preserve_properties: true
permissions:
  - path: /var/log/frr
    owner: frr:frr
    recurse: true
  - path: /run/frr
    owner: frr:frrvty
    recurse: true
